
body{
    background-color: #f9e5f9;
    margin-top: 10%;
    margin-left: 40%; 
    font-family: 'Times New Roman', Times, serif;
     margin-right: 40%;
    
}

.first{
    background-color: #ca90c9;
    border-style: solid;
    color:rgb(223, 50, 223);
    border-width: 5px;
}

.container{
    align-content: center;
    text-align: center;
   
}


.timer{
    width: 100px;
    height: 100px;
    margin-top: 7px;
    margin-right: 100px;
    margin-left:100px;
}

#clock{
    font-size: 3rem;
    font-weight: bold;
    color: black;

}

.set-alarm-field{
    margin-top: 10px;
    height: 40px;
    padding-top: 0px;
}


#set-input{  
  background-color: #cc7fcc; 
  border: none; 
  border-bottom: 3px solid white;
  }

.set-input:focus{
    width: 100%;
}




.controls button{
    background-color: rgb(160, 57, 84); /* background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 20px 20px; /* Some padding */
    cursor: pointer; /* Mouse pointer on hover */
    transition: background-color 1.5s ease-out;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    width: 95px;
    height: 35px;
    border-radius: 20px;
    font-size: 0.7rem;
    font-weight: 500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.controls button:hover{
    background-color: rgb(232, 8, 214);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
.alarm-heading{
    text-align: center;
    margin-top: 20px;
    color:rgb(98, 18, 18);
}

#myList{
    list-style-type: none;
    
}

#myList li{
    font-size: 1.4rem;
    color: whitesmoke;
    background-color:rgb(150, 79, 183);
    height: 2rem;
    margin-left: -30px;
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 10px;
    width: 250px;
    margin-bottom: 10px;

}

.time-list{
    display: flex;
    justify-content: flex-start;
}


.time-list span{
   
    width: 160px;
    margin-right: 18px;
    
}

.time-list button{
    background-color: rgb(150, 79, 183);
    border-color: white;
    border-radius: 3px;
    border-width: 0px;
    font-size: 1.2rem;
    cursor: pointer;
    height: 22px;
    color: rgb(14, 49, 225);
}


